@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Guestbook</h1>
    <p class="lead">A simple guestbook web app made in order to gain a better understanding of EF code first development.</p>
    <p><a href="@Url.Action("Index", "Guestbook")" class="btn btn-primary btn-lg">View Guestbook &raquo;</a></p>
</div>